.input-form {
  display: inline-block;
  position: relative;


  input {
    height: 30px;
    padding: 0 10px;
    width: 100%;

    &.invalid {
      border: 1px solid red;
      color: red;
    }

    &:focus {
      border: inherit;
      color: inherit;

      + ol {
        display: block;
      }
    }
  }

  ol {
    z-index: 1;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 0;
    background-color: white;

    &:hover {
      display: block;
    }
  }

  li {
    line-height: 30px;
    list-style-type: none;
    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }

  .input-dd {
  }
}
