body {
  background-color: $sky;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

button {
  height: 30px;
  background: none;
  color: inherit;
  border: 1px solid darkgray;
  padding: 5px 15px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
