$grid-breakpoints: (
        sm: 576px,
        md: 768px,
        xl: 1200px
);

$columnWidths: (8.33, 16.66, 25, 33.33, 41.66, 50, 58.33, 66.66, 75, 83.33, 91.66, 100);

$percentage: '%';

@for $i from 1 through length($columnWidths) {
  $width: nth($columnWidths, $i);

  .col-#{$i} {
    width: #{$width}#{$percentage};
  }
}
@for $i from 1 through length($columnWidths) {
  $width: nth($columnWidths, $i);
  @each $j in $grid-breakpoints {
    @media screen and (min-width: #{nth($j, 2)}) {
      .col-#{nth($j, 1)}-#{$i} {
        width: #{$width}#{$percentage};
      }
    }
  }
}